
.wraper{
	position:fixed;
	width:2.3rem;
	height:2.3rem;
	border-radius:50%;
	left:1.5rem;
	bottom:1.5rem;
	z-index:998;
	text-indent: -300rem;
}
.menu{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;	
	border-radius:50%;
	z-index:989;
	background: url('./hand.png') center center no-repeat #fff;
	background-size:90% auto;
	opacity:0.8;
	box-shadow: 0 0 2px #111;
}
.navWraper .list{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;	
	z-index:988;
}

.list li{
	position: absolute;
	width:2px;
	height:12rem;
	left:50%;
	top:50%;
	margin-top:1rem;
	margin-left:-1px;
	transition: all .3s ease;
}
.showWraper .list li{
	margin-top:-6rem;
}
.showWraper .list li a{
	opacity: 1;
}
.showWraper .list li:nth-child(2){
	transform:rotate(25deg)
}
.showWraper .list li:nth-child(3){
	transform:rotate(50deg)
}
.showWraper .list li:nth-child(4){
	transform:rotate(75deg)
}
.showWraper .list li:nth-child(5){
	transform:rotate(100deg)
}
.list a{
	position: absolute;
	width:2.2rem;
	height:2.2rem;
	left:50%;
	top:-2.3rem;
	margin-left:-1.1rem;
	border-radius: 50%;
	text-align:center;
	line-height:2.2rem;
	font-size:1rem;
	background-repeat:no-repeat;
	background-position: center center;
	background-color: #fff;
	background-size:90% auto;
	box-shadow: 0 0 2px #111;
	opacity: 0;
}
.list li:nth-child(1) a{
	transform:rotate(0deg);
	background-image: url('./hose.png');

}
.list li:nth-child(2) a{
	transform:rotate(25deg);
	background-image: url('./write.png');
}
.list li:nth-child(3) a{
	transform:rotate(50deg);
	background-image: url('./camaro.png');

}
.list li:nth-child(4) a{
	transform:rotate(75deg);
	background-image: url('./monkey.png');
}
.list li:nth-child(5) a{
	transform:rotate(100deg);
	background-image: url('./cat.png');
}
:global(a.current) {
  opacity: 0.3;
}






