
body{
	color:#323232;
	font-family:'Microsoft YaHei',Arial;
	font-size:14px;
}
a{
	color:#323232;
}
img {
	max-width: 100%;
}
input{
	color:#323232;
}
h1,h2,h3{
	font-size:18px;
}


